#back{
    background-color: blueviolet;
}
main{
    display: flex;
    justify-content: center ;
    align-items: center;
}
.ticket{
    display: flex;
      justify-content: center;
     align-items: center;
      background-color: antiquewhite;
          flex-direction: column;
          width: 20rem;
     border-radius: 5px;
     gap: 10px;
     border: solid 5px;
     border-color: rgba(114, 114, 114, 0.712);
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;


}
.small{

        display: flex;
      justify-content: end;
     align-items: center;
     justify-content: center;
          flex-direction: column;
          gap: 5px;
}
.bigger{

   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}